body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background: rgb(17,214,164);
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "footer" auto
      / 1fr;
}

.header{
    grid-area: header;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 99;
    height: 60px;
    width: 100%;
    background-color: rgba(211, 211, 211, 1);
    text-align: center;
}

.header h1{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    float: left;
    font-size: 50px;
}


.header .icon{
    max-height: 40px;
    width: auto;
    margin: 10px;
    cursor: pointer;
}

/*icon source: https://www.flaticon.com/free-icon/home_1946436?term=home&page=1&position=3&origin=tag&related_id=1946436*/
.home{
    position: relative;
    float: left;
}

/*icon source: https://www.flaticon.com/free-icon/question_471715?term=question+mark&page=1&position=20&origin=search&related_id=471715*/
.help{
    position: relative;
    float: right;
}


.mainBody{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer{
    grid-area: footer;
    position: sticky;
    bottom: 0px;
    left: 0px;
    z-index: 99;
    height: 25px;
    width: 100%;
    background-color: rgba(211, 211, 211, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .footerNote{
    text-align: center;
    font-size: 15px;
}
