div{
    min-height: 20px;
    margin: auto;
    width: fit-content;
    /*min-width: 200px;*/
    text-align: center;
    margin-bottom: 10px;
}

.videoContainer{
    min-height: 280;
    min-width: 640;
    width: 50%;
    height: auto;
}
