.pageContent{
  min-height: 200px;
  width: 50%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.themeChoice{
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: row;
}

.themeOption{
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid black;
}

.green{
  background: linear-gradient(90deg,rgba(10,129,130,1) 0%,rgba(12,148,131,1) 16%,rgba(12,148,113,1) 34%,rgba(17,214,164,1) 50%,rgba(12,148,113,1) 66%,rgba(12,148,131,1) 84%,rgba(10,129,130,1) 100%)
}

.pink{
  background: linear-gradient(90deg, rgba(218,19,233,1) 0%, rgba(239,124,247,1) 16%, rgba(240,125,230,1) 34%, rgba(240,167,233,1) 50%, rgba(240,125,230,1) 66%, rgba(239,124,247,1) 84%, rgba(218,19,233,1) 100%);
}

.blue{
  background: linear-gradient(90deg, rgba(19,73,233,1) 0%, rgba(111,169,238,1) 16%, rgba(112,200,242,1) 34%, rgba(171,223,246,1) 50%, rgba(112,200,242,1) 66%, rgba(111,169,238,1) 84%, rgba(19,73,233,1) 100%);
}

.gray{
  background-color: linear-gradient(90deg,rgba(171, 171, 171, 1) 0%, rgba(209, 209, 209, 1) 16%, rgba(227, 227, 227, 1) 34%, rgba(255, 255, 255, 1) 50%, rgba(227, 227, 227, 1) 66%, rgba(209, 209, 209, 1) 84%, rgba(171, 171, 171, 1) 100%);;
}

.themeOption:hover{
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.296);
  transform: scale(1.1);
  transition: 0.2s;
}

.textPanel{
  text-align: center;
  margin-bottom: 20px;
}

.textPanel h1{
  color: black;
  margin: 0px;
}

.textPanel h2{
  color: black;
  margin: 0px;
  font-size: 12pt;
  font-weight: normal;
}

.textPanel p{
  color: black;
}


.settings{
  min-height: 200px;
  min-width: 400px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px 15px rgba(255, 255, 255, 0.6);
  padding: 20px;
}

.settings h1{
  text-align: center;
  margin: 0px 0px 10px 0px;
  font-size: 18pt;
}

.settings label{
  margin: 0px 0px 5px 0px;
  font-size: 12pt;
}

.settingsContainer{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.var{
  flex-direction: row;
  gap: 8px;
}

.exp{
  flex-direction: column;
}

.settingsContainer label{
  color: black;
}

.textInput{
  min-width: 150px;
}

.nrInputSmall{
  width: 35px;
}
.nrInputBig{
  width: 50px;
}

.startButton{
  float: right;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

.radioButton{
  accent-color: rgb(48, 166, 154);
}

/*based on https://www.w3schools.com/howto/howto_js_accordion.asp*/
.settingAccordionTrigger{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.484);
}

.active, .settingAccordionTrigger:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.arrowIcon{
  height: 20px;
  width: auto;
  float: right;
  transition: transform 0.2s ease-out;
}

.iconActive{
  transform: scaleY(-1);
}


.settingAccordion{
    width: 100%;
    padding: 0px 5px;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-direction: column;
}

.settingRow{
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

#soundIcon{
  height: 20px;
  width: auto;
  cursor: pointer;
  float: left;
}

#labelSettings{
  display: none;
  grid-auto-rows: 1fr; 
  grid-template-columns: 20% 80%; 
  gap: 5px 0px; 
  align-content: center;
}

#labelSettings label{
  text-align: center;
  font-weight: bold;
}

.labelInput{
  width: 50%;
  min-width: 50px;
}

/*based on https://www.w3schools.com/howto/howto_css_switch.asp*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
  
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 1px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(48, 166, 154);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(48, 166, 154);
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}


.tooltipTrigger{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.tooltipSymbol{
  height: 15px;
  width: auto;
  filter: invert(0.5);
}

.tooltipSymbol:hover{
  filter: invert(0);
}


.backgroundCover{
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  background-color: rgba(120, 120, 120, 0.712);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.infoBox{
  background-color: white;
  min-width: 200px;
  max-width: 70%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.infoBox .infoHeader{
  flex: 0 0 20%;
  width: 100%;
  background-color: rgba(19,73,233,1);
  position: relative;
  display: block;
}

.closeButton{
  float: right;
  max-height: 90%;
  cursor: pointer;
}


.infoBox .text{
  flex: 1;
  position: relative;
  padding: 15px;
}