.pageContent{
  min-height: 200px;
  width: 50%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.textPanel{
  text-align: center;
  margin-bottom: 20px;
}

.textPanel h1{
  color: black;
  margin: 0px;
}

.textPanel h2{
  color: black;
  margin: 0px;
  font-size: 12pt;
  font-style: italic;
}

.textPanel p{
  color: black;
}


.settings{
  min-height: 200px;
  min-width: 400px;
  background-color: rgba(245, 246, 232, 0.606);
  box-shadow: 0 0 10px 15px rgba(245, 246, 232, 0.606);
  padding: 20px;
}

.settings h1{
  text-align: center;
  margin: 0px 0px 10px 0px;
  font-size: 18pt;
}

.settings label{
  margin: 0px 0px 5px 0px;
  font-size: 12pt;
}

.settingsContainer{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.var{
  flex-direction: row;
  gap: 8px;
}

.exp{
  flex-direction: column;
}

.settingsContainer label{
  color: black;
}

.textInput{
  min-width: 150px;
}

.nrInputSmall{
  width: 35px;
}
.nrInputBig{
  width: 50px;
}

.startButton{
  float: right;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

.radioButton{
  accent-color: rgb(48, 166, 154);
}

/*based on https://www.w3schools.com/howto/howto_js_accordion.asp*/
.settingAccordionTrigger{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.484);
}

.active, .settingAccordionTrigger:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.arrowIcon{
  height: 20px;
  width: auto;
  float: right;
  transition: transform 0.2s ease-out;
}

.iconActive{
  transform: scaleY(-1);
}

.settingAccordion{
    width: 100%;
    padding: 0px 5px;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-direction: column;
}

.settingRow{
  margin: 5px 0px;
}

/*based on https://www.w3schools.com/howto/howto_css_switch.asp*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
  
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 1px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(48, 166, 154);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(48, 166, 154);
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}
