div{
    min-height: 20px;
    margin: auto;
    width: fit-content;
    /*min-width: 200px;*/
    text-align: center;
    margin-bottom: 10px;
}

input{
    width: 40px;
}

button{
    margin: 20px;
}