.pageContent{
    min-width: 500px;
    min-height: 300px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results{
    width: 100%;
    background-color: rgba(245, 246, 232, 0.606);
    box-shadow: 0 0 10px 15px rgba(245, 246, 232, 0.606);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

canvas{
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.videoPlayer{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.csvContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.csvContainer a{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    text-decoration: none;
    border: unset;
    padding: 5px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.484);
}

.csvContainer a:hover{
    background-color: rgba(255, 255, 255, 0.846);
}
